# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# IDE leftovers
.idea/
*.iml
.DS_Store
node_modules/
bower_components/
*.egg-info
*.egg
*.pid
.sass-cache/
/.cache/
/cache/
Thumbs.db
*.mo
.coverage
*.log
.vscode/
Session.vim
yarn.lock
.eslintcache
.env