.root {
  position: sticky;
  top: 0;
  padding: 16px 0;
  background-color: var(--accent-1);
  z-index: var(--header-z-index);
}
.content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.navList {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style: none;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button {
  min-width: 90px;
}
