---
import BasePageLayout from 'layouts/base-page-layout.astro';
import PopularGuides from 'screens/guides/components/popular-guides';
---

<BasePageLayout title='Test'>
  <div class='main'>
    <PopularGuides />
  </div>
</BasePageLayout>

<style>
  .main {
    padding: 64px 0;
  }
</style>
